<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="capstone.com.cybertracker">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity android:name=".activities.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".activities.PatrolListActivity"
            android:label="Patrols" />

        <activity android:name=".activities.PatrolDetailsActivity"
            android:label="Patrol Details" />

        <activity android:name=".activities.AndroidDatabaseManager"
            android:label="Android Database Manager" />

        <activity android:name=".activities.ObservationListActivity"
            android:label="Observations" />

        <activity android:name=".activities.ObservationTypeActivity"
            android:label="Observation Types" />

        <activity android:name=".activities.ForestConditionObservationActivity"
            android:label="Forest Condition Observation" />

        <activity android:name=".activities.WildlifeObservationActivity"
            android:label="Wildlife Observation" />

        <activity android:name=".activities.DirectObservationActivity"
            android:label="Direct Observation" />

        <activity android:name=".activities.IndirectObservationActivity"
            android:label="Indirect Observation" />

        <activity android:name=".activities.DirectAnimalWildlifeObservationActivity"
            android:label="Direct Wildlife Observation" />

        <activity android:name=".activities.DirectFloraWildlifeObservationActivity"
            android:label="Direct Flora Observation" />

        <activity android:name=".activities.ThreatObservationActivity"
            android:label="Threat Observation" />

        <activity android:name=".activities.OtherObservationActivity"
            android:label="Other Observation" />

        <activity android:name=".activities.IndirectWildlifeObservationActivity"
            android:label="Indirect Wildlife Observation" />

        <activity android:name=".activities.ObservationGalleryActivity"
            android:label="Observation Gallery" />

        <activity android:name=".activities.PatrolSummaryActivity"
            android:label="Patrol Summary" />

        <activity android:name=".activities.SettingsActivity"
            android:label="Settings" />

        <activity android:name=".activities.ObservationSummaryActivity"
            android:label="Observation Summary" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="capstone.com.cybertracker.android.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths"></meta-data>
        </provider>

    </application>

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-feature android:name="android.hardware.camera" android:required="true" />

</manifest>